<header>
    <nav>
        <a href="#home">Home</a>
        <a href="#priceplans">Price Plans</a>
        <a href="#linkuser">Link User</a>
    </nav>
</header>

<h1>Phone Bill Widget</h1>

<h2>Calculate total phone bill for user</h2>

<form action="/calc_bill" method="post">

<div>
    <h3>Username: </h3>
    <input type="text" name="username">
</div>
<div>
    <h3>Usage string: </h3>
    <input type="text" name="usageString">
</div>

<span>{{message}}</span>

<button>Calculate Bill</button>

<div>
    <h3>Bill Total: </h3>
    <div{{{total}}}>R30.00</div>
</div>

</form>
