<header>
    <nav>
        <a href="#home"></a>
        <a href="#priceplans"></a>
        <a href="#linkuser"></a>
    </nav>
</header>

<h1>Phone Bill Widget</h1>

<h2>Calculate total phone bill for user</h2>

<div>
    <h3>Username: </h3>
    <input type="text">
</div>
<div>
    <h3>Usage string: </h3>
    <input type="text">
</div>

<button>Calculate Bill</button>

<div>
    <h3>Bill Total: </h3>
    <div>R30.00</div>
</div>
