<h1>Allocate price plan to username</h1>

<div>
  <h2>Username: </h2> 
  <input type="text" name="username"> 
</div>

<div>
    <h2>Price Plan:</h2>
    <form method="POST" action="/link_user">
        <!-- Add a select element with a name attribute -->
        <select name="selectedPlan">
            <option value="SMS100">SMS 100</option>
            <option value="SMS200">SMS 200</option>
            <option value="CALLWEEKLY">Call Weekly</option>
        </select>

        <button type="submit">Allocate</button>
    </form>
</div>