<h1>Allocate price plan to username</h1>

<div>
  <h2>Username: </h2> 
  <input type="text"> 
</div>

<div>
    <h2>Price Plan: </h2>
    <div class="dropdown">
        <button class="dropdown-button">Select an option</button>
        <ul class="dropdown-list">
            <li><a href="#">Option 1</a></li>
            <li><a href="#">Option 2</a></li>
            <li><a href="#">Option 3</a></li>
        </ul>
    </div>
</div>