<h1>Price plans</h1>

<table>

    <tr>
       <td>SMS 100</td>
       <td><a href="#">View SMS100 Users</a></td>
    </tr>
    <tr>
       <td>SMS 200</td>
       <td><a href="#">View SMS200 Users</a></td>
    </tr>
    <tr>
       <td>CALL WEEKLY</td>
       <td><a href="#">View CALLWEEKLY Users</a></td>
    </tr>

</table>