<h1>Price plans</h1>

<table>

    <tr>
     <td>SMS 100</td>
     <td><a href=""></a></td>
    </tr>
    <tr>
     <td>SMS 200</td>
     <td><a href=""></a></td>
    </tr>
    <tr>
     <td>CALL WEEKLY</td>
     <td><a href=""></a></td>
    </tr>

</table>