<h1>Users with price plan</h1>

<h2>Price Plan: </h2>

<table>
    <tr>
        <th>Users: </th>
    </tr>

    {{#each names}}
    <tr>
     <td><a href="/greetings/{{username}}">{{username}}</a></td>
    </tr>
    {{/each}}

</table>